<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style type="text/css">
        .center{
            text-align: center;
        }
    </style>
      <link rel="stylesheet"     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="center">
        <h1>Ebay</h1>
        <b></b><b></b>
         <div class="topnav">
            <input type="text" placeholder="Search..">
        </div> 
        <b></b>
        <h2>Welcome to ebay! Here are some things you can buy:</h2>
        <b></b>
        <div class = "container">
            <div class = "row">
                <div class = "col-4">
                    <img src="static/images.jpeg" width="400" height="300">
                </div>
                <div class = "col-8">
                    <img src="static/index.jpeg" width="400" height="300">
                </div>
            </div>
        </div>

    </div>

</body>
</html>